.body-font {
  font-family: 'Montserrat', sans-serif;
}

.similar-listings-img {
  max-height: 225px;
  width: 335px;
  border-radius: 4px;
}

.listing {
  border-radius: 4px;
  color: black;
  width: 335px;
  height: 335px;
  margin: 9px;
  text-align: left;
  font-size: 14px;
  position: relative;
}

.type {
  color: rgb(68, 26, 5);
  overflow-wrap: break-word !important;
  font-size: 12px !important;
  line-height: 21px !important;
  font-weight: 800 !important;
  margin-bottom: 2px;
  margin-top: 9px;
}

.title {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 16px !important;
  line-height: 18px !important;
  letter-spacing: normal !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  font-weight: 800 !important;
  margin-bottom: 2px;
  margin-top: 0px;
}

.price {
  word-wrap: break-word !important;
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: normal !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  font-weight: normal !important;
  display: inline !important;
}

.stars {
  display: inline-block !important;
  color: #008489 !important;
  font-size: 9px !important;
  height: 10px !important;
  margin-right: 1px !important;
  width: 9px !important;
}

.heart {
  align-items: flex-start;
  background-color: transparent !important;
  color: buttontext !important;
  border: 0px !important;
  display: block !important;
}

.heart-box {
  position: absolute !important;
  right: 16px !important;
  top: 16px !important;
  z-index: 2 !important;
}