
.wrap {
  overflow: hidden !important;
  width: 1065px;
}

.carousel {
  display: inline-flex;
  background-color: #f1f1f1;
}

.carousel > div {
  background-color: DodgerBlue;
  color: white;
  width: 335px;
  margin: 9px;
  text-align: center;
  line-height: 325px;
  font-size: 30px;
  position: relative;
  left: -8.3%;
  transform: left(8.3%);
}

.carousel .move-left {
  transform: none;
  transition: transform 1s
}

.carousel:hover {
  transform: none;
  transition: transform 1s
}

._visible-box {
  display: block;
  width: 744px;
  margin-left: -8px !important;
  margin-right: -8px !important;
  overflow: hidden !important;
}