
.wrap {
  overflow: hidden !important;
  width: 1060px;
}

.carousel {
  display: inline-flex;
  background-color: #f1f1f1;
  cursor: pointer;
}

.main-title {
  font-weight: 800 !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 1em !important;
  line-height: 30px !important;
  letter-spacing: normal !important;
  color: #484848 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

/* .carousel > div {
  color: white;
  width: 335px;
  margin: 9px;
  text-align: center;
  line-height: 325px;
  font-size: 30px;
  position: relative;
} */

