
.flex-container {
  display: inline-flex;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 335px;
  margin: 10px;
  text-align: center;
  line-height: 325px;
  font-size: 30px;
}

.invisible-container {
  display: none;
  background-color: DodgerBlue;
  color: white;
  width: 335px;
  margin: 10px;
  text-align: center;
  line-height: 325px;
  font-size: 30px;
}

._visible-box {
  display: block;
  width: 744px;
  margin-left: -8px !important;
  margin-right: -8px !important;
  overflow: hidden !important;
}

/* HTML:  ///////////////////////////////////////////////////
<div className="visible-box">
          <div className="flex-container">
            <div>Listing 1</div>
            <div>Listing 2</div>
            <div>Listing 3</div>
            <div>Listing 4</div>
            <div>Listing 5</div>
            <div>Listing 6</div>
            <div>Listing 7</div>
            <div>Listing 8</div>
            <div>Listing 9</div>
            <div>Listing 10</div>
            <div>Listing 11</div>
            <div>Listing 12</div>
          </div>
        </div>
*/